<div class="mt-4 row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body"><%= user.name %></div>
      <div class="card-body"><%= user.introduction %></div>
      <% if current_user.admin %>
        <div class="card-body"><%= user.id %></div>
      <% end %>
    </div>
    <ul>
      <li><div class="card"><div class="card-body"><%= user.community %></div></div></li>
      <li><div class="card"><div class="card-body"><%= user.community %></div></div></li>
      <li><div class="card"><div class="card-body"><%= user.community %></div></div></li>
      <li><div class="card"><div class="card-body"><%= user.community %></div></div></li>
      <li><div class="card"><div class="card-body"><%= user.community %></div></div></li>
    </ul>
  </div>
</div>