<h1>Community</h1>
<% if communities.any? %>
  <p id="notice"><%= notice %></p>
  <ul class="list-unstyled">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>title</th>
          <th>kind</th>
          <th>introduction</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <%= p communities %>
      <% communities.each do |community| %>
        <li class="mb-3 d-flex">
          <%= p community %>
          <% render 'communities/community', community: community %>
        </li>
        
        <td><%= community.id %></td>
        <td><%= community.title %></td>
        <td><%= community.kind %></td>
    
        <td><%= community.introduction %></td>
        <td><%= link_to 'Show', community %></td>
        <td><%= link_to 'Edit', edit_user_path(community) %></td>
        <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </table>
    </ul>
    <%#== pagy_bootstrap_nav(@pagy) %>
    <%# link_to 'New User', new_user_path %>
<% end %>